<%- include('partials/header'); -%>


<h1>home</h1>

    <div class="container">

        <%if(posts.length > 0){%>
        <ul>
            <%posts.forEach((post) => {%>
                <h3> <%= post.title %></h3>
                <l1> <%= post.body %> </l1>
            <%});%>
        </ul>
    <%}else{%>
        <%=homeContent%>
    <%}%>
    </div>

<%- include('partials/footer'); -%>

